<HTML>
<HEAD>
<style>
table.sortable
th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):
after {
    content: " \25B4\25BE"
}
</style>
<script type='text/javascript' src='sorttable.js'></script>
</HEAD>
<BODY>


starcheck_commit: {{ starcheck_commit }}

starcheck_tags: {% for tag in tags %}{{ tag }}, {% endfor %}

<table class="sortable" border cellpadding=5>
<thead><tr>{% for col in headercols %}<th>{{ col }}</th>{% endfor %}</tr></thead>
{% for row in table %}<tr>
{% for col in headercols -%}
{% if (col == 'id') %}
<td><a href="{{ detailpage }}#{{ row['id'] }}">{{ row[col] }}</a></td>
{% elif col == 'file' %}
<td><a href="{{ row['github_url'] }}">{{ row['filename'] }}:{{ row['line_number'] }}</a></td>
{% else %}
<td>{{ row[col] }}</td>
{% endif %}
{% endfor %}</tr>
{% endfor %}
</table>

</BODY>
</HTML>
